$fonte: "roboto", sans-serif;
$cor-principal: #00337C;
$cor-secundaria: #a8308a;
$cor-terciaria: #03C988;

$tamanho-do-texto: 3rem;

$fonte-personalizada: 'Josefin Sans', sans-serif;
$font-personalizada-secundaria: 'Solitreo', sans-serif;