@import '../abstract/variables';

#cupom{
    background-color: rgb(230, 205, 235);
    padding: 3rem 4rem 4rem 4rem;
    text-align: center;
    .texto {
        color: $cor-principal;
        h2 {
           margin: 2rem; 
           font-size: $tamanho-do-texto / 2;
        }
    }
    .input {
        margin: 10px auto;
        width: 575px;
        border-radius: 20px;
        border: 4px solid white;
        background-color: white;
        input {
            border: transparent;
            height: 20px;
            border: none;
            width: 540px;
            outline: none;
            font-size: 18px;
        }
        &:hover, &:focus-within {
            box-shadow: 1px 1px 8px 1px $cor-principal;
            outline: none;
        }
    }
    button {
        outline: none;
        height: 30px;
        width: 150px;
        background-color: $cor-principal;
        color: white;
        font-family: $fonte-personalizada;
        font-size: 20px;
        border: 0.2px solid #ffffff;
        border-radius: 40px;
        letter-spacing: 1px;
        cursor: pointer;
        &:hover {
            color: $cor-secundaria;
        }
    }
}