@import '../abstract/variables';

nav {
    text-align: center;
    ul {
        display: flex;
        justify-content: center;
        li {
            padding: 1rem;
            a {
                text-decoration: none;
                text-transform: uppercase;
                font-weight: bold;
                color: $cor-principal;
                &:hover {
                    color: $cor-secundaria;
                }
            }
        }
    }


}