@import '../abstract/variables';

nav {
    text-align: center;
    ul {
        display: flex;
        justify-content: center;
        li {
            padding: 1rem;
            a {
                text-decoration: none;
                text-transform: uppercase;
                font-weight: bold;
                color: $cor-principal;
                &:hover {
                    color: $cor-secundaria;
                }
            }

            .teste__botao:checked ~ .menu-nav{
                display: block;
            }

            .teste__botao {
                display: none;
            }

            .menu-nav {
                position: relative;
                display: none;
                z-index: 1;
    

                ul {
                    display: flex;
                    flex-direction: column;
                    position: absolute;                   

                    li {
                        padding: 20px 100px 20px 5px;
                        text-align: start;
                        background-color: rgb(217, 233, 246);                    }
                }
                   
                
            }
        }
    }


}